<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bird Service Website</title>

    <!-- Bootstrap CSS -->
    <link type="text/css" href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link type="text/css" href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Themify Icon -->
    <link rel="stylesheet" href="/static/icon/themify-icons.css">

    <!-- Online Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Đơn mua CSS -->
    <link rel="stylesheet" href="/static/css/don-mua.css">

    <!-- NavBar CSS -->
    <link rel="stylesheet" href="/static/css/navbar.css">

</head>

<body>
<!-- Navigation -->
{{template "navbar" .}}
<!-- End Navigation -->

<div class="spacer" style="height: 82px;"></div>

<div class="container">
    <nav class="sub-nav navbar navbar-expand-sm justify-content-lg-evenly" style="background-color: #fff;">
        {{if eq .HighlightedButtonID 0}}
        <form action="/my-orders/identity/buyer">
            <input type="hidden" name="type" value="0">
            <button type="submit" class="btn btn-success">Tất cả</button>
        </form>
        {{else}}
        <form action="/my-orders/identity/buyer">
            <input type="hidden" name="type" value="0">
            <button type="submit" class="btn">Tất cả</button>
        </form>
        {{end}}

        {{$HighlightedButtonID := .HighlightedButtonID}}
        {{ range .OrderStatuses }}
        {{if eq $HighlightedButtonID .ID}}
        <form action="/my-orders/identity/buyer">
            <input type="hidden" name="type" value="{{ .ID }}">
            <button type="submit" class="btn btn-success">{{ .Detail }}</button>
        </form>
        {{else}}
        <form action="/my-orders/identity/buyer">
            <input type="hidden" name="type" value="{{ .ID }}">
            <button type="submit" class="btn">{{ .Detail }}</button>
        </form>
        {{ end }}
        {{ end }}
    </nav>


</div>

<div>&nbsp;</div>

<!-- Để có khoảng cách giữa các dịch vụ của từng Provider,
cho vòng lặp duyệt từ thẻ div class: "container" rồi lặp lại 1 thẻ div: "container" khác nữa
-->

<!-- Một Đơn Hàng của 1 Provider -->
{{ $purchaseOrders := .PurchaseOrders }}
{{ range $orderID := .SortedOrders}}
<div class="container">
    <div class="order">
        {{ $order := index $purchaseOrders $orderID }}
        <div class="wrapper">
            <!-- Bảng chi tiết đơn hàng -->
            <div class="order-detail">
                <div class="order-detail-wrapper">
                    <!-- Section 1: Thông tin Nhà cung cấp và Status đơn hàng -->
                    <section class="header">
                        <div class="header-wrapper">
                            <div class="provider-detail">
                                <span><i class="fa-solid fa-store" style="color: #197845;"></i>{{ $order.Provider.CompanyName }}</span>
                            </div>
                            <div class="order-status">
                                <span style="padding-right: 16px;">{{ $order.Order.StatusDetail }}</span>
                                <div class="order-status-detail">
                                    <span>MÃ ĐƠN HÀNG:</span>
                                    <span>{{ . }}</span>
                                    <div class="order-date">
                                        <span>Ngày tạo đơn hàng: {{ formatDate $order.Order.CreatedAt }}</span>
                                    </div>
                                </div>

                                <!-- Ngày đặt dịch vụ -->
                            </div>
                        </div>
                    </section>
                    <!-- Section 1: Thông tin Nhà cung cấp và Status đơn hàng -->

                    <div class="line-space"></div>

                    {{ range $order.OrderItems }}
                    <!-- Section 2: Thông tin Dịch vụ của đơn hàng -->
                    <section class="body">
                        <!-- 1 order Dịch vụ -->
                        <div class="service">
                            <div class="service-item">
                                <div class="item-detail">
                                    <a href="/service/view/{{ .ServiceID }}"
                                       class="text-decoration-none text-black"><img src="{{ .ImagePath }}"
                                                                                    alt=""></a>
                                    <div class="item-wrapper">
                                        <div class="item-name"><span><a href="/service/view/{{ .ServiceID }}"
                                                                        class="text-decoration-none text-black">{{ .Title }}</a></span>
                                        </div>
                                        <div class="item-quantity"><span>x{{ .Quantity }}</span></div>
                                    </div>
                                </div>
                                <div class="item-cost">
                                    <span>₫{{ formatPrice .Price }}</span>
                                </div>
                            </div>
                        </div>
                        <!-- 1 order Dịch vụ -->
                    </section>
                    <!-- Section 2: Thông tin Dịch vụ của đơn hàng -->
                    {{ end }}
                </div>
            </div>
            <!-- Bảng chi tiết đơn hàng -->
            <div class="line-space"></div>

            <!-- Bảng Thông tin Provider & Tổng tiền của đơn hàng -->
            <div class="order-total">
                <div class="order-provider">
                    <div class="order-provider-wrapper">
                        <span>Thông tin nhà cung cấp:</span>
                        <!-- Số điện thoại -->
                        <span>{{ $order.Provider.Phone }}</span>
                        <!-- Địa chỉ -->
                        <span>{{ $order.Provider.Address }}</span>
                        <!-- Email -->
                        <span>{{ $order.Provider.Email }}</span>
                    </div>
                </div>

                <div class="order-total-wrapper">
                    <span><i class="fa-solid fa-cash-register"></i></span>
                    <label class="total-text">Thành tiền:</label>
                    <div class="total-pay">₫{{ formatPrice $order.Order.GrandTotal }}</div>
                </div>
            </div>
            <!-- Bảng Tổng tiền của đơn hàng -->
        </div>
    </div>
</div>
<!-- Một Đơn Hàng của 1 Provider -->
{{ else }}
<p class="text-center">Chưa có đơn hàng nào</p>
{{ end }}

<!-- Footer -->
{{template "footer" .}}
<!-- End Footer -->

<!-- JavaScript -->
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/js/don-mua.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/e7aa93e476.js" crossorigin="anonymous"></script>

</body>

</html>