<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bird Service Website</title>

    <!-- Bootstrap CSS -->
    <link type="text/css" href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link type="text/css" href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Themify Icon -->
    <link rel="stylesheet" href="/static/icon/themify-icons.css">

    <!-- Online Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Home CSS -->
    <link rel="stylesheet" href="/static/css/sub_services.css">

    <!-- NavBar CSS -->
    <link rel="stylesheet" href="/static/css/navbar.css">

    <!-- Banner CSS -->
    <link rel="stylesheet" href="/static/css/banner.css">
</head>

<body>
    <div id="main">
        <!-- Navigation -->
        {{template "navbar" .}}
        <!-- End Navigation -->

        <!-- Banner -->
        <!-- <div class="banner">
            <img src="/ui/static/img/Bird-banner.jpg" alt="Service Banner" class="banner-service">
            <div class="banner-text">
                <h2>Dịch vụ</h2>
                <div class="banner-sub-text">
                    <button>
                        <a href="/">Trang chủ</a>
                    </button>
                    <p> / </p>
                    <button>
                        <a href="#">Dịch vụ</a>
                    </button>
                </div>
            </div>
        </div> -->

        <!-- End Banner -->

        <!-- Body -->
        <!-- container -->
        <div class="container">
            <div class="body">
                <!-- Filter -->
                <div class="filter">
                    <div class="filter-group">
                        <a href="/ui/html/pages/cage_service.html">
                            <p>Bảo dưỡng lồng</p>
                        </a>
                    </div>
                    <div class="filter-group">
                        <a href="/ui/html/pages/nutrious_service.html">
                            <p>Dinh dưỡng và Thức ăn</p>
                        </a>
                    </div>
                    <div class="filter-group">
                        <a href="/ui/html/pages/healthcare_service.html">
                            <p>Y tế và Chăm sóc sức khỏe</p>
                        </a>
                    </div>
                    <div class="filter-group">
                        <a href="/ui/html/pages/toy_service.html">
                            <p>Sữa chữa đồ chơi</p>
                        </a>
                    </div>
                    <div class="filter-group">
                        <a href="/ui/html/pages/grooming_service.html">
                            <p>Grooming</p>
                        </a>
                    </div>
                    <div class="filter-group">
                        <a href="/ui/html/pages/training_service.html">
                            <p>Đào tạo và Xã giao</p>
                        </a>
                    </div>
                </div>

                <!-- Small Header -->
                <div class="small-header">
                    <nav class="sub-nav">
                        <ol>
                            <!-- Link quay lại trang Dịch vụ -->
                            <li class="sub-nav-link">
                                <a href="#">
                                    <h6>Dịch vụ</h6>
                                </a>
                            </li>

                            <!-- Icon ">" Filter -->
                            <li class="sub-nav-icon">
                                <i class="ti-angle-right"></i>
                            </li>

                            <!-- Tên filter hiện tại -->
                            <li class="sub-nav-title">
                                <h6>Bảo dưỡng lồng</h6>
                            </li>
                        </ol>
                    </nav>
                </div>

                <!-- Item -->
                <div class="item">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card-item card">
                                <!-- Start Service's Img -->
                                <a href="#">
                                    <img src="/ui/static/img/service-item-1.jpg" class="card-img-top" alt="Ser-Pic-1">
                                </a>
                                <!-- End Service's Img -->
                                <div class="card-body">
                                    <!-- Start Service's Title -->
                                    <a href="#">
                                        <h5 class="card-title text-center">Bảo dưỡng lồng</h5>
                                    </a>
                                    <!-- End Service's Title -->
                                    <!-- Start  Service's Description-->
                                    <p class="card-text">Cung cấp không gian an toàn cho chim cưng để sống và di
                                        chuyển.
                                    </p>
                                    <!-- End Service's Description -->

                                    <div class="card-bottom">
                                        <!-- Start Service's Price -->
                                        <p>Giá: 292,000đ</p>
                                        <!-- End Service's Price -->

                                        <!-- Click Button -->
                                        <button type="submit">Thêm vào giỏ hàng</button>
                                        <!-- End Button -->

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card-item card">
                                <!-- Start Service's Img -->
                                <a href="#">
                                    <img src="/static/img/service-item-1.jpg" class="card-img-top" alt="Ser-Pic-1">
                                </a>
                                <!-- End Service's Img -->
                                <div class="card-body">
                                    <!-- Start Service's Title -->
                                    <a href="#">
                                        <h5 class="card-title text-center">Bảo dưỡng lồng</h5>
                                    </a>
                                    <!-- End Service's Title -->
                                    <!-- Start  Service's Description-->
                                    <p class="card-text">Cung cấp không gian an toàn cho chim cưng để sống và di
                                        chuyển.
                                    </p>
                                    <!-- End Service's Description -->

                                    <div class="card-bottom">
                                        <!-- Start Service's Price -->
                                        <p>Giá: 292,000đ</p>
                                        <!-- End Service's Price -->

                                        <!-- Click Button -->
                                        <button type="submit">Thêm vào giỏ hàng</button>
                                        <!-- End Button -->

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card-item card">
                                <!-- Start Service's Img -->
                                <a href="#">
                                    <img src="/static/img/service-item-1.jpg" class="card-img-top" alt="Ser-Pic-1">
                                </a>
                                <!-- End Service's Img -->
                                <div class="card-body">
                                    <!-- Start Service's Title -->
                                    <a href="#">
                                        <h5 class="card-title text-center">Bảo dưỡng lồng</h5>
                                    </a>
                                    <!-- End Service's Title -->
                                    <!-- Start  Service's Description-->
                                    <p class="card-text">Cung cấp không gian an toàn cho chim cưng để sống và di
                                        chuyển.
                                    </p>
                                    <!-- End Service's Description -->

                                    <div class="card-bottom">
                                        <!-- Start Service's Price -->
                                        <p>Giá: 292,000đ</p>
                                        <!-- End Service's Price -->

                                        <!-- Click Button -->
                                        <button type="submit">Thêm vào giỏ hàng</button>
                                        <!-- End Button -->

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- End Body -->

        <!-- Footer -->
        {{template "footer" .}}
        <!-- End Footer -->
    </div>

    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>