<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bird Service Website</title>

    <!-- Bootstrap CSS -->
    <link type="text/css" href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link type="text/css" href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Themify Icon -->
    <link rel="stylesheet" href="/static/icon/themify-icons.css">

    <!-- Online Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Home CSS -->
    <link rel="stylesheet" href="/static/css/home.css">

    <!-- NavBar CSS -->

    <link rel="stylesheet" href="/static/css/navbar.css">

</head>

<body>

    <div id="main">
        <!-- Navigation -->
        {{template "navbar" .}}
        <!-- End Navigation -->
        <!-- Banner 1 -->
        <div id="banner">
            <div class="text-content">
                <div class="text-heading">
                    <h1>Dịch vụ dành cho chim cảnh</h1>
                </div>
                <div class="text-description">
                    <p>
                        Trang web Dịch vụ cho chim là nơi bạn có thể tìm kiếm mọi thông tin cần thiết để chăm sóc và yêu
                        quý
                        các loài chim cảnh.
                        Từ lựa chọn lồng chim đến dinh dưỡng và bảo vệ sức khỏe, chúng tôi sẽ giúp bạn tạo một môi
                        trường
                        tốt nhất cho bạn và
                        các chú chim của bạn.
                    </p>
                </div>
            </div>
        </div>

        <!-- Content -->
        <div id="content">
            <!-- Dịch vụ nổi bật -->
            <!-- Header -->
            <div class="content-popular">
                <div class="content-head">
                    <div class="content-heading text-center text-primary text-uppercase">
                        <h1>Dịch vụ nổi bật</h1>
                        <div class="content-space"></div>
                    </div>
                </div>
                <!-- Body -->
                <div class="content-popular-infor">
                    <div class="popular-card card" style="width: 20rem;">
                        <img src="/static/img/sua-long-chim.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Sửa lồng chim</h5>
                            <p class="card-text">Dịch vụ sửa lồng cho chim cung cấp các dịch vụ bảo trì, sửa chữa, và
                                tùy chỉnh lồng chim để đảm bảo môi trường thoải mái
                                và an toàn cho chim cưng của bạn.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Giá: 20.000VND</li>
                            <li class="list-group-item">Nhà cung cấp: ...</li>
                            <li class="list-group-item">Số lượng: </li>
                        </ul>
                        <div class="card-body text-center">
                            <button type="button" class="btn btn-primary btn-lg btn-block">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                    <div class="popular-card card" style="width: 20rem;">
                        <img src="/static/img/sua-tam.jfif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Tắm cho chim</h5>
                            <p class="card-text">Dịch vụ tắm cho chim cung cấp cho các vật nuôi của bạn một trải nghiệm
                                sạch sẽ và thư giãn. Chúng tôi sẽ chăm sóc và làm
                                sạch lông, giúp cho chim của bạn luôn có vẻ đẹp và cảm giác tươi mới.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Giá: 20.000VND</li>
                            <li class="list-group-item">Nhà cung cấp: ...</li>
                            <li class="list-group-item">Số lượng: </li>
                        </ul>
                        <div class="card-body text-center">
                            <button type="button" class="btn btn-primary btn-lg btn-block">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                    <div class="popular-card card" style="width: 20rem;">
                        <img src="/static/img/kham-suc-khoe.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Khám định kỳ</h5>
                            <p class="card-text">Khám định kỳ là một phần quan trọng trong việc duy trì sức khỏe cho
                                chim cảnh của bạn, bằng cách cung cấp sự chăm sóc
                                định kỳ và chuyên nghiệp để theo dõi và đối phó với bất kỳ vấn đề sức khỏe nào có thể
                                xảy ra.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Giá: 20.000VND</li>
                            <li class="list-group-item">Nhà cung cấp: ...</li>
                            <li class="list-group-item">Số lượng: </li>
                        </ul>
                        <div class="card-body text-center">
                            <button type="button" class="btn btn-primary btn-lg btn-block">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Trải nghiệm dịch vụ -->
            <!-- Header -->
            <div class="content-exp">
                <div class="content-header text-left text-primary">
                    <div class="content-header-body">
                        <div class="infor-img">
                            <img src="/static/img/bird-cartoon.png" class="" alt="...">
                        </div>
                        <div class="infor-col"></div>
                        <div class="infor-text justify-content-center">
                            <h1>Trải nghiệm dịch vụ</h1>
                            <p>Tư vấn miễn phí mọi trường hợp chim</p>
                        </div>
                    </div>
                    <!-- Body -->
                    <div class="content-exp-infor">
                        <div class="exp-infor-container">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="/static/img/health.jpg" alt="Card image cap">
                                <div class="">
                                    <h5 class="card-title">Ưu tiên sức khỏe</h5>
                                    <p class="card-text">Chúng tôi cam kết đảm bảo chim của bạn luôn trong trạng thái
                                        sức
                                        khỏe tốt nhất.</p>

                                </div>
                            </div>
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="/static/img/health.jpg" alt="Card image cap">
                                <div class="">
                                    <h5 class="card-title">Chuyên nghiệp và tin cậy</h5>
                                    <p class="card-text">Chúng tôi tự hào về dịch vụ chuyên nghiệp và đáng tin cậy mà
                                        chúng
                                        tôi mang đến cho các loài chim cảnh của bạn.</p>

                                </div>
                            </div>
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="/static/img/health.jpg" alt="Card image cap">
                                <div class="">
                                    <h5 class="card-title">An toàn và bảo vệ</h5>
                                    <p class="card-text">An toàn và bảo vệ là ưu tiên hàng đầu của chúng tôi trong việc
                                        chăm
                                        sóc cho chim của bạn.</p>

                                </div>
                            </div>
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="/static/img/health.jpg" alt="Card image cap">
                                <div class="">
                                    <h5 class="card-title">Chăm sóc từ trái tim</h5>
                                    <p class="card-text">Chúng tôi làm việc với "Chăm sóc từ trái tim" để đảm bảo bạn và
                                        chim của bạn cảm nhận được sự quan tâm đặc biệt.</p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Các dịch vụ -->
                <!-- Header -->
                <div class="content-service">
                    <div class="content-heading text-center text-primary">
                        <h1 class="text-uppercase">Các dịch vụ</h1>
                        <div class="content-space"></div>
                        <div class="service-sub-heading text-center text-dark">
                            <h5>Chăm sóc toàn diện, an toàn, bảo mật, sữa chữa mọi tình trạng vật liệu</h5>
                        </div>
                    </div>
                    <!-- Body -->
                    <div class="service-body d-flex justify-content-center">
                        <div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="false">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="card-group">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title text-center">Thức ăn chim</h5>
                                            </div>
                                            <img src="/static/img/thuc-an-cho-chim.png" class="card-img-top" alt="...">

                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title text-center">Thức ăn chim</h5>
                                            </div>
                                            <img src="/static/img/thuc-an-cho-chim.png" class="card-img-top" alt="...">
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title text-center">Thức ăn chim</h5>
                                            </div>
                                            <img src="/static/img/thuc-an-cho-chim.png" class="card-img-top" alt="...">
                                        </div>
                                    </div>

                                </div>
                                <div class="carousel-item">
                                    <div class="card-group">
                                        <div class="card">

                                            <div class="card-body">
                                                <h5 class="card-title text-center">Thức ăn chim</h5>
                                            </div>
                                            <img src="/static/img/thuc-an-cho-chim.png" class="card-img-top" alt="...">
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title text-center">Thức ăn chim</h5>
                                            </div>
                                            <img src="/static/img/thuc-an-cho-chim.png" class="card-img-top" alt="...">
                                        </div>
                                        <div class="card">

                                            <div class="card-body">
                                                <h5 class="card-title text-center">Thức ăn chim</h5>
                                            </div>
                                            <img src="/static/img/thuc-an-cho-chim.png" class="card-img-top" alt="...">
                                        </div>
                                    </div>

                                </div>
                                <div class="carousel-item">


                                    <div class="card-group">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title text-center">Thức ăn chim</h5>
                                            </div>
                                            <img src="/static/img/thuc-an-cho-chim.png" class="card-img-top" alt="...">
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title text-center">Thức ăn chim</h5>
                                            </div>
                                            <img src="/static/img/thuc-an-cho-chim.png" class="card-img-top" alt="...">
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title text-center">Thức ăn chim</h5>
                                            </div>
                                            <img src="/static/img/thuc-an-cho-chim.png" class="card-img-top" alt="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Banner 2 -->
            <div id="sub-banner">
                <img src="/static/img/banner2.jpg" alt="Sub-banner" class="sub-banner-img">
                <div class="sub-banner-header">
                    <h4>Câu Slogun</h4>
                </div>
            </div>


            <!-- Các sản phẩm -->
            <!-- Header -->
            <div class="content-product">
                <div class="content-heading text-center text-primary">
                    <h1 class="text-uppercase">Các sản phẩm</h1>
                    <div class="content-space"></div>
                    <div class="product-sub-heading text-center text-dark">
                        <h5>"Bán những sản phẩm cho chim cảnh là hoạt động thương mại cung cấp các vật phẩm và thức ăn
                            chất lượng đặc biệt, như lồng
                            chim, đồ trang trí, thức ăn và phụ kiện, nhằm đáp ứng nhu cầu chăm sóc và nuôi dưỡng cho
                            chim cảnh trong cộng đồng yêu
                            thú cưng."</h5>
                    </div>
                </div>
                <!-- Body -->
                <div class="product-body d-flex justify-content-center">
                    <div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="false">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="card-group">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title text-center">Thức ăn chim</h5>
                                        </div>
                                        <img src="/static/img/thuc-an-cho-chim.png" class="card-img-top" alt="...">

                                    </div>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title text-center">Thức ăn chim</h5>
                                        </div>
                                        <img src="/static/img/thuc-an-cho-chim.png" class="card-img-top" alt="...">
                                    </div>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title text-center">Thức ăn chim</h5>
                                        </div>
                                        <img src="/static/img/thuc-an-cho-chim.png" class="card-img-top" alt="...">
                                    </div>
                                </div>

                            </div>
                            <div class="carousel-item">
                                <div class="card-group">
                                    <div class="card">

                                        <div class="card-body">
                                            <h5 class="card-title text-center">Thức ăn chim</h5>
                                        </div>
                                        <img src="/static/img/thuc-an-cho-chim.png" class="card-img-top" alt="...">
                                    </div>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title text-center">Thức ăn chim</h5>
                                        </div>
                                        <img src="/static/img/thuc-an-cho-chim.png" class="card-img-top" alt="...">
                                    </div>
                                    <div class="card">

                                        <div class="card-body">
                                            <h5 class="card-title text-center">Thức ăn chim</h5>
                                        </div>
                                        <img src="/static/img/thuc-an-cho-chim.png" class="card-img-top" alt="...">
                                    </div>
                                </div>

                            </div>
                            <div class="carousel-item">


                                <div class="card-group">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title text-center">Thức ăn chim</h5>
                                        </div>
                                        <img src="/static/img/thuc-an-cho-chim.png" class="card-img-top" alt="...">
                                    </div>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title text-center">Thức ăn chim</h5>
                                        </div>
                                        <img src="/static/img/thuc-an-cho-chim.png" class="card-img-top" alt="...">
                                    </div>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title text-center">Thức ăn chim</h5>
                                        </div>
                                        <img src="/static/img/thuc-an-cho-chim.png" class="card-img-top" alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="prev">
                            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="next">
                            <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>
            </div>

            <!-- Về chúng tôi -->
            <div class="content-about-us">
                <!-- <div class="content-heading text-center text-primary text-uppercase">
                    <h1>Về chúng tôi</h1>
                    <div class="content-space"></div>
                </div> -->
                <div class="about-us-body">
                    <div class="about-us-body-content row">
                        <!-- Cột bên trái (văn bản) -->
                        <div class="text-column col-md-7">
                            <div class="text-center text-primary text-uppercase">
                                <h1>Câu chuyện về [Tên thương hiệu]</h1>
                                <div class="content-space"></div>
                            </div>
                            <p>Khởi đầu bằng một cửa hàng trong con hẻm nhỏ chỉ với Dịch vụ Vệ sinh giày cùng sứ mệnh
                                "Mang giày sạch đến mọi nhà".
                                Trải qua khoảng thời gian khá dài, Extrim tự hào khi trở thành một trong những Cửa hàng
                                Chăm sóc giày lớn nhất TP.HCM
                                với đa dạng dịch vụ không chỉ dành cho Giày mà còn có Túi, Ví, Balo. Tại đây chúng tôi
                                không có gì ngoài một tập thể
                                nhiệt huyết và tình yêu dành cho giày. Với kĩ thuật chuyên môn cao, sự am hiểu sâu sắc
                                về từng dòng chất liệu, chúng tôi
                                luôn đồng hành để cùng nhau tạo ra nhiều giá trị cho Khách Hàng qua việc Chăm Sóc những
                                Đôi Giày - người Bạn mọi lúc của
                                chúng ta.
                            </p>

                        </div>
                        <!-- Cột bên phải (ảnh) -->
                        <div class="img-column col-md-5">
                            <img src="/static/img/about-us.jpg" alt="Ảnh của bạn">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {{template "footer" .}}
    <!-- Footer -->

    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>