<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bird Service Website</title>

    <!-- Bootstrap CSS -->
    <link type="text/css" href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link type="text/css" href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Themify Icon -->
    <link rel="stylesheet" href="/static/icon/themify-icons.css">

    <!-- Online Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Home CSS -->
    <link rel="stylesheet" href="/static/css/home.css">

    <!-- NavBar CSS -->
    <link rel="stylesheet" href="/static/css/navbar.css">
</head>

<body>

    <div id="main">
        <!-- Navigation -->
        {{template "navbar" .}}
        <!-- Navigation -->

        <div class="spacer" style="height: 82px;"></div>
        <!-- Banner 1 -->
        <div id="banner">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="/static/img/home-banner-1.png" class="d-block w-100" alt="home-banner">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="/static/img/home-banner-2.png" class="d-block w-100" alt="home-banner">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                    <span class="" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                    <span class="" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <!-- Content -->
        <div id="content">
            <!-- Dịch vụ nổi bật -->
            <!-- Header -->
            <div class="content-popular" id="popular">
                <div class="content-head">
                    <div class="content-heading text-center text-success text-uppercase">
                        <h1>Dịch vụ nổi bật</h1>
                        <div class="content-space"></div>
                    </div>
                </div>
                <!-- Body -->
                <div class="content-popular-infor">
                    <div class="popular-card card" style="width: 20rem;">
                        <img src="/static/img/accessories-category.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Phụ kiện</h5>
                            <p class="card-text">Dịch vụ Phụ kiện cho chim cung cấp các dịch vụ bảo trì, sửa chữa, và
                                tùy chỉnh lồng chim, đồ chơi để đảm bảo môi trường thoải mái
                                và an toàn cho chim cưng của bạn.</p>
                        </div>
                        <!-- <ul class="list-group list-group-flush">
                            <li class="list-group-item">Giá: 20.000VND</li>
                            <li class="list-group-item">Nhà cung cấp: ...</li>
                            <li class="list-group-item">Số lượng: </li>
                        </ul> -->
                        <div class="card-body text-center">
                            <button type="button" class="btn btn-success btn-lg btn-block"><a href="#"
                                    class="text-decoration-none text-white">Xem dịch
                                    vụ</a></button>
                        </div>
                    </div>
                    <div class="popular-card card" style="width: 20rem;">
                        <img src="/static/img/Categories-grooming.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Grooming</h5>
                            <p class="card-text">Dịch vụ tắm cho chim cung cấp cho các vật nuôi của bạn một trải nghiệm
                                sạch sẽ và thư giãn. Chúng tôi sẽ chăm sóc và làm
                                sạch lông, giúp cho chim của bạn luôn có vẻ đẹp và cảm giác tươi mới.</p>
                        </div>
                        <!-- <ul class="list-group list-group-flush">
                            <li class="list-group-item">Giá: 20.000VND</li>
                            <li class="list-group-item">Nhà cung cấp: ...</li>
                            <li class="list-group-item">Số lượng: </li>
                        </ul> -->
                        <div class="card-body text-center">
                            <button type="button" class="btn btn-success btn-lg btn-block"><a href="#"
                                    class="text-decoration-none text-white">Xem dịch
                                    vụ</a></button>
                        </div>
                    </div>
                    <div class="popular-card card" style="width: 20rem;">
                        <img src="/static/img/healthcare-category.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Y tế và chăm sóc sức khỏe</h5>
                            <p class="card-text">Khám định kỳ là một phần quan trọng trong việc duy trì sức khỏe cho
                                chim cảnh của bạn, bằng cách cung cấp sự chăm sóc
                                định kỳ và chuyên nghiệp để theo dõi và đối phó với bất kỳ vấn đề sức khỏe nào có thể
                                xảy ra.</p>
                        </div>
                        <!-- <ul class="list-group list-group-flush">
                            <li class="list-group-item">Giá: 20.000VND</li>
                            <li class="list-group-item">Nhà cung cấp: ...</li>
                            <li class="list-group-item">Số lượng: </li>
                        </ul> -->
                        <div class="card-body text-center">
                            <button type="button" class="btn btn-success btn-lg btn-block"><a href="#"
                                    class="text-decoration-none text-white">Xem dịch
                                    vụ</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Trải nghiệm dịch vụ -->
            <!-- Header -->
            <div class="content-exp" id="exp">
                <div class="content-header text-left text-success">
                    <div class="content-header-body">
                        <div class="infor-img">
                            <img src="/static/img/bird-cartoon.png" class="" alt="...">
                        </div>
                        <div class="infor-col"></div>
                        <div class="infor-text justify-content-center">
                            <h1>Trải nghiệm dịch vụ</h1>
                            <p>Tư vấn miễn phí mọi trường hợp chim</p>
                        </div>
                    </div>
                    <!-- Body -->
                    <div class="content-exp-infor">
                        <div class="exp-infor-container">
                            <div class="card" style="width: 18rem;">

                                <i class="fa-solid fa-briefcase-medical" style="color: #198754;"></i>
                                <div class="">
                                    <h5 class="card-title">Chất lượng</h5>
                                    <p class="card-text">Dịch vụ đảm bảo an toàn và chất lượng cao, chuyên nghiệp</p>

                                </div>
                            </div>
                            <div class="card" style="width: 18rem;">

                                <i class="fa-solid fa-shield-heart" style="color: #198754;"></i>
                                <div class="">
                                    <h5 class="card-title">An toàn và bảo vệ</h5>
                                    <p class="card-text">Dịch vụ không gây hại cho thú cưng, có chất lượng và
                                        nguồn gốc rõ ràng.</p>

                                </div>
                            </div>
                            <div class="card" style="width: 18rem;">

                                <i class="fa-solid fa-truck-fast" style="color: #198754;"></i>
                                <div class="">
                                    <h5 class="card-title">Bảo hành</h5>
                                    <p class="card-text">Có chính sách đổi trả linh hoạt và thân thiện với người dùng.
                                    </p>

                                </div>
                            </div>
                            <div class="card" style="width: 18rem;">

                                <i class="fa-solid fa-cash-register" style="color: #198754;"></i>
                                <div class="">
                                    <h5 class="card-title">Ưu đãi</h5>
                                    <p class="card-text">Cung cấp ưu đãi, giảm giá hấp dẫn và các chương trình khuyến
                                        mãi.</p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Các dịch vụ -->
                <!-- Header -->
                <div class="content-service">
                    <div class="content-heading text-center text-success">
                        <h1 class="text-uppercase">Các dịch vụ</h1>
                        <div class="content-space"></div>
                        <div class="service-sub-heading text-center text-dark">
                            <h5>Chăm sóc toàn diện, an toàn, bảo mật, sữa chữa mọi tình trạng vật liệu</h5>
                        </div>
                    </div>
                    <!-- Body -->
                    <div class="service-body d-flex justify-content-center">
                        <div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="false">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="card-group">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title text-center">Phụ kiện</h5>
                                            </div>
                                            <img src="/static/img/accessories-category.jpg" class="card-img-top"
                                                alt="...">

                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title text-center">Dinh dưỡng và thức ăn</h5>
                                            </div>
                                            <img src="/static/img/nutrition-category.jpg" class="card-img-top"
                                                alt="...">
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title text-center">Y tế và chăm sóc sức khỏe</h5>
                                            </div>
                                            <img src="/static/img/healthcare-category.jpg" class="card-img-top"
                                                alt="...">
                                        </div>
                                    </div>

                                </div>
                                <div class="carousel-item">
                                    <div class="card-group">
                                        <div class="card">

                                            <div class="card-body">
                                                <h5 class="card-title text-center">Grooming</h5>
                                            </div>
                                            <img src="/static/img/categories-grooming.jpg" class="card-img-top"
                                                alt="...">
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title text-center">Đào tạo và huấn luyện</h5>
                                            </div>
                                            <img src="/static/img/training-category.jpg" class="card-img-top" alt="...">
                                        </div>
                                        <div class="card">

                                            <div class="card-body">
                                                <h5 class="card-title text-center">Khác</h5>
                                            </div>
                                            <img src="/static/img/others-category.png" class="card-img-top" alt="...">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Banner 2 -->
            <!-- <div id="sub-banner">
                <img src="/ui/static/img/home-banner-2.jpg" alt="Sub-banner" class="sub-banner-img">
                <div class="sub-banner-header">
                    <h4>Câu Slogun</h4>
                </div>
            </div> -->


            <div class="container">
                <!-- Về chúng tôi -->
                <div class="content-about-us" id="About">
                    <div class="">&nbsp;</div>
                    <div class="about-us-body">
                        <div class="about-us-body-content row">
                            <!-- Cột bên trái (văn bản) -->
                            <div class="text-column col-md-7">
                                <div class="text-center text-success text-uppercase" style="margin-bottom: 54px;">
                                    <h1>Câu chuyện về chúng tôi</h1>
                                    <div class="content-space"></div>
                                </div>
                                <p>Khi bước vào thế giới của chúng tôi tại Dịch vụ Chăm sóc Chim, bạn sẽ cảm nhận được
                                    một không gian tận tâm và chuyên
                                    nghiệp, nơi mà mỗi chiếc lồng chim không chỉ là một không gian ở, mà còn là tổ ấm ấm
                                    cúng, đầy đủ những sản phẩm chăm
                                    sóc tối ưu và dịch vụ chuyên nghiệp từ đội ngũ chăm sóc giàu kinh nghiệm của chúng
                                    tôi. Chúng tôi tin rằng mỗi chú chim
                                    đều xứng đáng nhận được sự chăm sóc tận tâm và sự quan tâm đặc biệt, và với cam kết
                                    này, chúng tôi luôn hướng tới việc
                                    tạo ra môi trường hoàn hảo nhất để giúp chim của bạn thể hiện hết tiềm năng và sức
                                    khỏe tối đa của chúng.
                                </p>

                            </div>
                            <!-- Cột bên phải (ảnh) -->
                            <div class="img-column col-md-5">
                                <img src="/static/img/home-about-us.jpg" alt="Ảnh của bạn">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {{template "footer" .}}
    <!-- Footer -->

    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/e7aa93e476.js" crossorigin="anonymous"></script>
    <script src="/static/js/navbar.js"></script>
</body>

</html>