<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link type="text/css" href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link type="text/css" href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Themify Icon -->
    <link rel="stylesheet" href="/static/icon/themify-icons.css">

    <!-- Online Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Login CSS -->
    <link rel="stylesheet" href="/static/css/login.css">

    <!-- NavBar CSS -->
    <link rel="stylesheet" href="/static/css/navbar.css">

    <title>Bird Service</title>
</head>

<body>
<!-- Navigation -->
{{template "navbar" .}}
<!-- End Navigation -->

<div class="fake-nav" style="height: 88px; width: 100%;">

</div>

<!-- Body -->
<div class="container">
    <div class="body">
        <div class="login-welcome">
            <div class="login-banner">
                <img src="/static/img/Login-banner.png" alt="Login-banner" srcset="">
            </div>
            <div class="login-text">
                <div class="header">
                    <h1 style="font-family: Arial, sans-serif; color: #333; font-weight: bold; ">
                        Bird Service</h1>
                </div>
                <div class="sub-header">
                    <h4 style="font-family: Arial, sans-serif; color: #333;">
                        Nền tảng thương
                        mại điện tử yêu thích ở FPT.</h4>
                </div>
            </div>

        </div>
        <form action="" method="post" class="body">
            <div class="Login">
                <!--                <div class="login-text">-->
                <!--                    <h1 class="text-center">Đăng Nhập</h1>-->
                <!--                </div>-->
                {{with .Flash}}
                <div class="flash">{{.}}</div>
                {{end}}
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Nhập Email" name="email" value="{{.Form.Email}}" equired>

                <label for="pass"><b>Mật khẩu</b></label>
                <input type="password" placeholder="Nhập mật khẩu" name="password" required>

                <button type="submit">Đăng nhập</button>
            </div>
        </form>
    </div>
</div>
<!-- ENd Body -->

<!-- Footer -->
{{template "footer" .}}
<!-- End Footer -->
</body>

<script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</html>