<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bird Service Website</title>

    <!-- Bootstrap CSS -->
    <link type="text/css" href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link type="text/css" href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Themify Icon -->
    <link rel="stylesheet" href="/static/icon/themify-icons.css">

    <!-- Online Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- NavBar CSS -->
    <link rel="stylesheet" href="/static/css/navbar.css">

    <!-- Banner CSS -->
    <link rel="stylesheet" href="/static/css/banner.css">

    <!-- My Service CSS -->
    <link rel="stylesheet" href="/static/css/provider_services.css">

</head>

<body>
    <div id="main">
        <!-- Nav -->
        {{template "navbar" .}}


        <!-- Banner -->
        <div class="banner">
            <img src="/static/img/Bird-banner.jpg" alt="Service Banner" class="banner-service">
            <div class="banner-text">
                <h2>Dịch vụ</h2>
                <div class="banner-sub-text">
                    <button>
                        <a href="/">Trang chủ</a>
                    </button>
                    <p> / </p>
                    <button>
                        <a href="#">Dịch vụ của tôi</a>
                    </button>
                </div>
            </div>
        </div>
        <!-- End Banner -->


        <!-- Content -->
        <div class="container">
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card h-100">
                        <div class="card-body">
                            <!-- Top -->
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="text-right float-end">
                                        <button type="button" id="submit" name="submit" class="btn btn-success"><a
                                                href="/service/create">Tạo một dịch vụ mới</a></button>
                                    </div>
                                    <div class="text-center float-start">
                                        <h3 style="color: #198754; font-family: sans-serif; font-weight: 400;">CÁC DỊCH
                                            VỤ CỦA TÔI</h3>
                                    </div>
                                    <!-- Đã Tạo dịch vụ Thành công -->
                                    {{if .Flash}}
                                    <div class="flash"><i class="ti-check"></i>{{.Flash}}</div>
                                    {{end}}
                                </div>
                            </div>
                            <!-- Body -->
                            <div class="row gutters">
                                <div class="col-md-4">
                                    <div class="service-card">
                                        <div class="card-item card">
                                            <img src="/static/img/service-item-1.jpg" class="card-img-top"
                                                alt="Ser-Pic-1">
                                            <div class="card-body">
                                                <h5 class="card-title text-center">Bảo dưỡng lồng</h5>
                                                <p class="card-text"> Description: Cung cấp không gian an toàn cho chim
                                                    cưng để sống
                                                    và di
                                                    chuyển.</p>
                                                <p class="card-text text-left">Price: 20.000VND</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Thêm các card dịch vụ khác tại đây -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Content -->

        <!-- Footer -->
        {{template "footer" .}}

    </div>

    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>


</html>