{{define "footer"}}
<!-- Footer -->
<footer class="footer-main text-center text-lg-start bg-light text-muted">
    <!-- <div>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-github"></i>
        </a>
    </div> -->
    <!-- Right -->
    <!-- Section: Social media -->

    <div class="">&nbsp;</div>

    <!-- Section: Links  -->
    <section class="container-fluid">
        <div class="text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="text- col-md-3 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Về Bird Serivce
                    </h6>
                    <p>
                        <a href="#!" class="text-reset text-decoration-none">Công ty Cổ phần Bird Serivce</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset text-decoration-none">Tax Code:000000 do sở kế hoạch và đầu
                            tư thành phố Hồ Chí
                            Minh cấp ngày 20/09/2023</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset text-decoration-none">Chi nhánh: Lô E2a-7, Đường D1, Đ. D1,
                            Long Thạnh Mỹ, Thành
                            Phố Thủ Đức, Thành phố Hồ Chí Minh</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Dịch vụ khách hàng
                    </h6>
                    <p>
                        <a href="#!" class="text-reset text-decoration-none">Hotline: +84 234 659</a>
                    </p>
                    <p><a href="#" class="text-decoration-none"><i class="ti-email"></i>
                            Email: customerservice@gmail.com</a>

                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><a href="" class="text-decoration-none"><i class="ti-facebook"></i> Facebook</a></p>
                    <p> <a href="" class="text-decoration-none"><i class="ti-instagram"></i> Instagram</a></p>
                    <p><a href="" class="text-decoration-none"><i class="ti-email"></i>
                            Email: birdservice@gmail.com</a>

                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->
</footer>
<!-- Footer -->
{{end}}