{{define "navbar"}}
<!-- Navigation -->
<nav class="navigation navbar navbar-expand-lg navbar-light bg-light p-3">
    <div class="container-fluid" style="height: 40px;">
        <a class="navbar-brand" href="#"><i class="ti-home"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link mx-2 active" aria-current="page" href="/">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="/services">Dịch vụ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="#">Sản phẩm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="#">Về chúng tôi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="#">Contact</a>
                </li>
            </ul>
            <ul class="nav-right navbar-nav d-none d-lg-inline-flex" style="margin-left: 10%; height: 40px;">
                <!-- Cart Icon -->
                <li class="nav-item">
                    <button class="nav-link mx-2" style="margin-top: 0;">
                        <i class="cart-icon ti-shopping-cart"></i>
                    </button>
                </li>
                <!-- End Cart Icon -->

                <!-- Login -->
                <li class="nav-item">
                    <div class="login-text">
                        <a class="nav-link" href="/login">Đăng Nhập</a>
                    </div>

                </li>
                <!-- End Login -->

                <!-- Sign Up -->
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Đăng Ký</a>
                </li>
                <!-- End Sign Up -->

                <!-- User -->
                <li class="nav-item mx-2">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" style="margin-top: 0;" type="button"
                            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ti-user"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Tài khoản</i></a></li>
                            <li><a class="dropdown-item" href="#">Đơn mua</a></li>
                            <li><a class="dropdown-item" href="#">Đơn bán</a></li>
                            <li><a class="dropdown-item" href="#">Dịch vụ của tôi</a></li>
                            <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
                        </ul>
                    </div>
                </li>
                <!-- End User -->

                <!-- Provider -->
                <li class="nav-item mx-2">

                </li>
                <!-- End Provider -->

            </ul>
        </div>
    </div>
</nav>
<!-- End Navigation -->
{{end}}