{{define "navbar"}}
<!-- Navigation -->
<nav class="navigation navbar-expand-lg navbar navbar-light bg-light p-3">
    <div class="container-fluid">
        <div class=" collapse navbar-collapse" id="navbarNavDropdown" style="justify-content: space-between;">
            <a class="navbar-brand" href="/"><i class="ti-home"></i>BIRD SERVE CENTREL</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="nav-main navbar-nav">
                <!-- <li class="nav-item">
                    <a class="nav-link mx-2" aria-current="page" href="/">Trang chủ</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link mx-2" href="/service/category/all">Dịch vụ</a>
                </li>
            </ul>
            <ul class="nav-right navbar-nav d-none d-lg-inline-flex" style="align-items: center;">
                <!-- User -->
                {{if .IsAuthenticated}}
                <!-- Cart Icon -->
                <li class="nav-item">
                    <a class="nav-link mx-2" href="/cart">
                        <i class="cart-icon ti-shopping-cart">Giỏ hàng</i>
                    </a>
                </li>
                <!-- End Cart Icon -->
                <li class="nav-item mx-2">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ti-user"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="/account/view">Tài khoản</i></a></li>
                            <li><a class="dropdown-item" href="/my-orders/identity/buyer">Đơn mua</a></li>
                            {{if .IsProvider}}
                            <li><a class="dropdown-item" href="/my-orders/identity/seller">Đơn bán</a></li>
                            <li><a class="dropdown-item" href="/account/my-services">Dịch vụ đã đăng</a></li>
                            {{end}}
                            <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
                        </ul>
                    </div>
                </li>
                {{else}}
                <!-- Login -->
                <li class="nav-item">
                    <div class="login-text">
                        <a class="nav-link" href="/login">Đăng Nhập</a>
                    </div>

                </li>
                <!-- End Login -->

                <!-- Sign Up -->
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Đăng Ký</a>
                </li>
                <!-- End Sign Up -->
                {{end}}

            </ul>
        </div>
    </div>
</nav>
<!-- End Navigation -->
{{end}}