* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 21px;
    margin-bottom: 21px;
    width: 900px;
    padding: 21px;
    /* box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3); */
}

body {
    background: linear-gradient(#ffffff, #69eb6a);
    /* background-color: #69eb6a; */
}

.form {
    display: none;
}

.profile-wrapper {
    height: fit-content;
    background-color: #fff;
    width: 960px;
    margin: auto;
}

.profile {
    padding: 0 1.875rem 0.625rem
}

.profile-header {
    border-bottom: 0.0625rem solid #efefef;
    padding: 1.125rem 0;
    text-align: center;
}

.profile-header h1 {
    margin: 0;
    margin-bottom: 16px;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-transform: capitalize;
    color: #333;
}

.profile-header .sub-header {
    margin-top: 0.1875rem;
    font-size: .875rem;
    line-height: 1.0625rem;
    color: #555;
}

.row {
    padding: 3px;
}

.e-profile .nav a:hover {
    color: #fbff00;
    background-color: #69eb6a;
    cursor: pointer;
    font-weight: 600;
}