* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    background-color: #fff;
    border-radius: 4px;
}

/* heading */
.heading {
    background-color: #e3e5e8;
}

.heading a {
    text-decoration: none;
    color: black;
}

/* Table */
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
}

.table-head {
    margin-bottom: 0;
    margin: 12px 0;
}

.table-head th {
    border-bottom: none;
    width: 12px;
}

.table a {
    text-decoration: none;
    color: black;
}

.table-service {
    margin: 32px 0px;
}

.i-icon {
    text-align: center;
    position: relative;
}

.table i {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 9px;
    color: blue;
    font-weight: 700;
}

/* Ảnh Dịch vụ */
img {
    background-size: cover;
    width: 100px;
    height: 100px;
}

/* Thông tin Provider */
.provider-detail {
    border-bottom: 1px solid;
}

.provider-detail a {
    text-decoration: none;
    color: black;
    text-decoration: none;
    color: rgba(0, 0, 0, .87);
    font-weight: 500;
    min-width: 50px;
    display: flex;
    align-items: center
}

/* Tổng thanh toán */
.pay-check {}

.pay-check td {
    text-align: right;
    margin-top: 16px;
}

.custom-alert {
    padding: 15px;
    background-color: #f44336;
    color: white;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 5px;
    display: none;
}

/* Pay - Thanh toán */
.container .pay-sumary {
    padding: 12px 0;
    grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-column-span: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    width: 100%;
}

.pay-sumary .pay-text {
    display: flex;
    flex-direction: column;
}

.pay-text .pay-cover {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pay-cover .pay-detail {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.total {
    font-size: 16px;
    color: #222;
    line-height: 19px;
}

.unit {
    font-size: 24px;
    line-height: 28px;
    margin-left: 5px;
    color: #198754;
}

.pay-btn {
    padding: 13px 36px;
    margin: 0 22px 0 15px;
    text-transform: capitalize;
    font-weight: 300;
    height: 2.5rem;
    box-sizing: border-box;
    font-size: .875rem;
    border-radius: 2px;
    width: 13.125rem;
    position: relative;
    overflow: visible;
    outline: 0;
    background: #198754;
    cursor: pointer;
    border: 0;
    line-height: 1;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: opacity .2s ease;
    user-select: none;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .09);
}

.pay-button span {
    text-transform: capitalize;
    font-weight: 300;
    font-size: .875rem;
    cursor: pointer;
    line-height: 1;
    letter-spacing: 0;
    color: #fff;
    user-select: none;
}