* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: rgba(231, 231, 231, 0.71) 0px 1px 20px 0px;
}

/* heading */
.heading {
    background-color: #e3e5e8;
}

.heading .container {
    background-color: #dedcdc;
    height: 100%;
    display: flex;
    align-items: center;
    box-shadow: none;
}

.heading .container ol {
    margin-bottom: 0;
}

.heading .container .breadcrumb-item {
    margin-left: 0.9375rem;
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.875rem;
    height: 1.875rem;
    padding-left: 0.9375rem;
    margin-bottom: 0.0625rem;
    text-transform: capitalize
}

.heading .container .breadcrumb .nav-home a {
    color: #eeee2d;
    font-size: 1.5rem;
    line-height: 1.875rem;
    height: 1.875rem;
    padding-left: 0.9375rem;
    margin-bottom: 0.0625rem;
    text-transform: capitalize;
}

.heading .container .breadcrumb .nav-cart a {
    margin-left: 0.9375rem;
    border-left: 0.0625rem solid #eeee2d;
    color: #eeee2d;
    font-size: 1.25rem;
    line-height: 1.875rem;
    height: 1.875rem;
    padding-left: 0.9375rem;
    margin-bottom: 0.0625rem;
    text-transform: capitalize;
}

.heading a {
    text-decoration: none;
    color: black;
}

/* Table */
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
}

.table-head {
    margin-bottom: 0;
    margin: 12px 0;
}

.table-head th {
    border-bottom: none;
    width: 12px;
}

.table a {
    text-decoration: none;
    color: black;
}

.table a:hover {
    color: red;
}

.table-service {
    margin: 32px 0px;
    vertical-align: middle;
}

.i-icon {
    text-align: center;
    position: relative;
}

.table i {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 9px;
    color: red;
    font-weight: 700;
}

/* Ảnh Dịch vụ */
img {
    background-size: cover;
    width: 100px;
    height: 100px;
}

/* Thông tin Provider */
.provider-detail {
    /* border-bottom: 1px solid; */
    padding-top: 15px;
}

.provider-detail i {
    margin-right: 8px;
}

.provider-detail span {
    margin: 0px 0 0 26px;
}

.provider-detail a {
    text-decoration: none;
    color: black;
    text-decoration: none;
    color: rgba(0, 0, 0, .87);
    font-weight: 500;
    min-width: 50px;
    display: flex;
    align-items: center
}

/* Tổng thanh toán */
.pay-check {}

.pay-check td {
    text-align: right;
    margin-top: 16px;
}

/* Pay - Thanh toán */
.container .pay-sumary {
    padding: 12px 0;
    grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-column-span: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    width: 100%;
}

.pay-sumary .pay-text {
    display: flex;
    flex-direction: column;
}

.pay-text .pay-cover {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pay-cover .pay-detail {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.total {
    font-size: 16px;
    color: #222;
    line-height: 19px;
}

.unit {
    font-size: 24px;
    line-height: 28px;
    margin-left: 5px;
    color: #198754;
}

.pay-btn {
    margin: 0 22px 0 15px;
    text-transform: capitalize;
    font-weight: 300;
    height: 2.5rem;
    box-sizing: border-box;
    font-size: .875rem;
    border-radius: 2px;
    width: 13.125rem;
    position: relative;
    overflow: visible;
    outline: 0;
    background: #4CAF50;
    cursor: pointer;
    border: 0;
    line-height: 1;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: opacity .2s ease;
    user-select: none;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .09);
}

.pay-btn:hover {
    background-color: #3e8e41;
}

.pay-btn .link-span {
    width: 100%;
}

.pay-btn a {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 300;
    font-size: .875rem;
    cursor: pointer;
    line-height: 2.75;
    letter-spacing: 0;
    color: #fff;
    user-select: none;
    width: 100%;
    height: 100%;
}

/* Address */
.location {
    padding: 28px 30px 24px;
}

.location-item {
    display: flex;
    align-items: center;
}

.location-item:first-child {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    color: #ee4d2d;
    margin-bottom: 20px;
    text-transform: capitalize;
    flex: 1 1 auto;
}

.location-item:first-child h2 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin-left: 16px;
}

.address-detail {
    display: block;
}

.user-info {
    display: flex;
    align-items: center;
    font-size: 1rem;
    word-break: break-word;
}

.user-info .name,
.phone {
    font-weight: 700;
    color: #222;
}

.user-info .phone {
    margin-left: 20px;
}

.user-info .address {
    margin-left: 20px;
    word-break: break-word;
}

.location-item button {
    color: #4080ee;
    text-transform: capitalize;
    margin-left: 2.5rem;
    cursor: pointer;
    display: block;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    text-align: inherit;
    margin-left: 20px;
}

/* Checkout-payments */
.checkout-payments {
    border-bottom: 1px solid #d5d3d3;
}

.checkout-payments .wrapper {
    display: block;
    vertical-align: middle;
    min-height: 5.625rem;
    box-sizing: border-box;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    line-height: 3;
}

.checkout-payments-title {
    font-size: 1.125rem;
    width: 12.5rem;
    color: #222;
}

.checkout-payments button {
    padding: 10px;
    margin: 5px;
    border: none;
    background-color: #f2f2f2;
    cursor: pointer;
}

.checkout-payments button.active {
    background-color: #4CAF50;
    color: white;
}

.pay-btn:hover {
    background-color: #3e8e41;
}

.radiogroup {
    display: block;
}

.radiogroup span {
    display: block;
    padding: 0 66px;
    font-size: 18px;
    font-family: sans-serif;
}

/* Select Payment Option */