* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    height: 82px;
}

.nav-item a {
    color: #000;
    font-size: 21px;
    font-weight: 600;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    /* background-color: #c0ffd4; */
}

#id .navigation .nav-right {
    margin-left: 11%;
}

/* Demo */
.ti-home {
    margin-right: 12px;
}

a.nav-link.mx-2.active {
    font-weight: 900;
    color: #4CAF50;
}

/* Custom CSS for responsiveness */
@media (max-width: 991.98px) {
    .navbar-collapse {
        justify-content: space-between;
    }
}