* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}

#id .navigation .nav-right {
    margin-left: 11%;
}

/* Demo */
.ti-home {
    margin-right: 12px;
}