* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.error-header h1 {
    margin: 0;
    font-weight: 300;
    font-size: 3.75rem;
    line-height: 1.2;
    font-weight: 700;
}

.error-header p {
    margin: 0;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    font-weight: 600;
}

.error-header .text {
    margin: 16px;
}

.error-header a {
    color: white;
    text-decoration: none;
}