* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

#container {
    margin-bottom: 64px;
}

/* Banner */
.banner {
    width: 100%;
    padding-bottom: 19%;
    position: relative;
    height: calc(100vh - 1200px);
    overflow: hidden;
    height: 50%;
}

.banner img {
    position: absolute;
    height: 250%;
    width: 100%;
    inset: 0px;
    object-fit: cover;
    color: transparent
}

.banner-text {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.banner-text h2 {
    margin: 0px 0px 32px;
    font-family: Montserrat;
    font-size: 3rem;
    line-height: 1.167;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 800;
    padding-bottom: 4px;
    position: relative;
}

.banner-text h2::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 9px;
    background-color: rgb(255, 255, 255);
}

.banner-text .banner-sub-text {
    flex-direction: row;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: row;
}

.banner-text .banner-sub-text button {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    border-radius: 0px;
    padding: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    color: inherit;
}

.banner-text .banner-sub-text button a {
    margin: 0px;
    font-family: Montserrat;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.banner-sub-text p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0 6px;
    color: white;
}

/* Header */
.header {
    background-color: #f8f9fa;
    padding-top: 16px;
    padding-bottom: 16px;
}

.header .header-container {
    width: 100%;
    height: 110px;
    /* background-color: #f8f9fa; */
}

.header .header-content {
    max-width: 1200px;
    height: auto;
    max-height: 110px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /* display: inline-block; */
}

.header .header-body {
    display: inline-block;
}

.header .header-body-img {
    border-right: 5px solid #09c17d;
}

.header img {
    position: absolute;
    height: auto;
    max-height: 110px;
    width: 12%;
    inset: 0px;
    object-fit: contain;
    color: transparent;
    margin: 0;
    padding: 0;
    border-right: 5px solid #09c17d;
}

.header .header-body-text {
    position: absolute;
    margin-left: 150px
}

.header .header-body-text h2 {
    font-size: 2.125rem;
    line-height: 1.235;
    color: #09c17d;
    font-weight: 700;
}

.header .header-body-text p {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.334;
    color: #09c17d;
}

/* Body*/
.body-root {
    display: flex;
    width: 100%;
    height: 100%;
}

.body-root .body {
    width: 100%;
    max-width: 960px;
    height: 100%;
    margin: 64px auto 0 auto;

}

/* Body-Header */
.body .body-header {
    margin-bottom: 64px;
}

.body .body-header-text {
    background-color: rgba(57, 106, 252, 0.12);
    border-radius: 16px;
    padding: 24px;
}

.body .body-header-text p {
    margin: 16px 0;
    /* font-family: Montserrat; */
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
    color: rgb(8, 24, 69);
}

.body .body-header-btn {
    display: flex;
    justify-content: center;
}

.body .body-header-btn button {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    min-width: 64px;
    width: 100%;
    color: rgb(255, 255, 255);
    text-transform: none;
    background: linear-gradient(#09c17d 0%, #09c17d 100%);
    box-shadow: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 12px;
    font-weight: 500;
    max-width: 302px;
    line-height: 24px;
    height: fit-content;
    font-size: 16px;
    padding: 16px 22px;
}

/* Body-Search */
.body .search {
    position: relative;
}

.body .search .search-main {
    position: absolute;
    right: 0;
    width: 35%;
}

/* Item */
.body .item {
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    margin-top: -24px;
    width: calc(100% + 24px);
    margin-left: -24px;
    padding-top: 120px;
}

.card a {
    text-align: center;
    text-decoration: none;
    color: black;
}

.body .item .card img {
    margin: 16px;
    max-width: 100%;
    max-height: 150px;
    width: auto;
    height: auto;
    object-fit: contain;
}

.card .card-text {
    text-align: center;
}

.item .card-body {
    height: 112px;
    overflow: scroll;
}