* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Body */
#main {
    width: 100%;
    background-color: #09c17d;
}

/* container */
.container {
    display: flex;
    justify-content: space-around;
}

/* Sign Up */
.sign-up {
    background-color: #fff;
    padding: 30px;
    margin: auto;
    border-radius: 16px;
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
    font-weight: bold;
}

h4 {
    font-weight: 100;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
}

.sign-up button {
    margin: 16px 16px 16px 26px;
}

.sign-up button a {
    text-decoration: none;
    color: #fff;
}

/* Banner */
.login-banner {
    display: flex;
    justify-content: center;
}

.login-welcome {
    margin: auto;
}

.login-welcome img {
    width: 100%;
    max-width: 280px;
}

.login-text {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    justify-content: center;
}

/* Form */
.sign-up-user {
    max-width: 400px;
    margin: auto auto;
    padding: 20px;
}


.form-group {
    margin-bottom: 15px;
}


label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}


input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}